---
export interface Props {
  href?: string;
  class?: string;
}

const { href, class: styles } = Astro.props;
---

{
  href ? (
    <a
      href={href}
      class:list={[
        'rounded-full p-4 px-8 border-2 border-primary transition hover:bg-primary/5 hover:scale-[1.01]',
        styles,
      ]}>
      <slot />
    </a>
  ) : (
    <button
      class:list={[
        'rounded-full p-4 px-8 border-2 border-primary transition hover:bg-primary/5 hover:scale-[1.01]',
        styles,
      ]}>
      <slot />
    </button>
  )
}
